<h1> Hello from index.ejs </h1>

<h3> Number of posts : <%= posts.length %></h3>

<% if(posts.length > 0){ %> 
    <h1>First Post</h1>
    <h4> Title: <%= first.title %></h4>
    <h4> Content: <%= first.content %></h4>
<% } %>


